@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Slab:wght@100..900&display=swap");
body {
    font-family: var(--paragraph-font);
    padding: 20px;
}

:root {
    --primary-color: black;
    --secondary-color: steelblue;
    --accent-color1: #413C58;
    --accent-color2: #BD9391;

    --heading-font: 'DM Serif Display', 'serif';
    --paragraph-font: 'roboto slab', 'serif';
    
    --nav-background-color: #D8E2DC;
    --nav-link-color: steelblue;
    --nav-hover-link-color: #413C58;
    --nav-hover-background-color: #FED766; 
}

h1, h2, h3 {
    font-size: xx-large;
    padding: 25px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: var(--nav-background-color);
    text-decoration: none;
    width: 53%;
    border-bottom: 1px solid steelblue;
    
    
}

nav {
    display: flex;
    flex: 1 1 100%;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: xx-large;
    justify-content: space-evenly;
    text-align: right;
    
}

nav a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: steelblue;
    text-decoration: none;
    font-weight: bold;
    
    
}
nav a:hover {
    color: brown;
}

.hero {
    display: block;
    width: 100%;
    height: auto;
}



.hero h1 {
    position: absolute;
    top: 314px;
    background-color: rgb(0,0,0, 50%);
    
}
article {
    position: absolute;
    background-color: rgb(0,0,0,50%);
    width: 1023px;
    top: 491px
    
}

article img {
    float: right;
    width: 230px;
}
article p{
    color: #1E96FC; /* dodger blue */
}

article h3 {
    color: #F7CE5D;
}
header, main, footer {
    max-width: 55%;
    margin: 0 auto;
}


.image1 {
    width: 100%;
    height: auto;
}
.image3 {
    width: 100%;
    height: auto;
}
.image2 {
    width: 100%;
    height: auto;
}
.image4 {
    width: 100%;
    height: auto;
}
.image5 {
    width: 100%;
    height: auto;
    
}


.images {
    display: grid;
    grid-template-columns: 35% 41.3% 35% 35% 35%;
    grid-template-rows: 35% 35% 35% 35% 35%;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

figure {
    border: thin solid steelblue;
    display: flex;
    flex-flow: column;
    padding: 3px;
    max-width: 100%;
    margin: auto;
   
}   

figcaption {
    background-color: black;
    color: white;
    font: italic smaller var(--paragraph-font);
    padding: 2px;
    text-align: center;
    max-width: 100%;

}

footer {
    display: flex;
}