@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Slab:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {

/************************************************************
**************
*
*                             Variables
*
*************************************************************
***************/    
    --primary-color: black;
    --secondary-color: steelblue;
    --accent-color1: #413C58;
    --accent-color2: #BD9391;

    --heading-font: 'DM Serif Display', 'serif';
    --paragraph-font: 'roboto slab', 'serif';
    
    --nav-background-color: #D8E2DC;
    --nav-link-color: steelblue;
    --nav-hover-link-color: #413C58;
    --nav-hover-background-color: #FED766; 

/************************************************************
**************
*
*                 Default HTML TAG settings
*
*************************************************************
***************/    



}

h1, h2, h3 {
    font-size: xx-large;
    padding: 25px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}



p {
    display: flex;
    padding: 25px;
    font-family: var(--paragraph-font);
    color: steelblue;
    justify-content: left;
}

a {
    text-decoration: none;
}

/************************************************************
**************
*
*                 Content Defaults
*
*************************************************************
***************/  

body {
    font-family: var(--paragraph-font);
    padding: 20px;
    margin: 0;
}

header, main, footer {
    max-width: 1024px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.hero {
    display: block;
    width: 100%;
    height: auto;
}



.hero h1 {
    position: absolute;
    top: 314px;
    background-color: rgb(0,0,0, 50%);
    
}
article {
    position: absolute;
    background-color: rgb(0,0,0,50%);
    width: 1023px;
    top: 480px
    
}

article img {
    float: right;
    width: 230px;
}
article p{
    color: #1E96FC; /* dodger blue */
}

article h3 {
    color: #F7CE5D;
}


.image1 {
    width: 100%;
    height: auto;
}
.image3 {
    width: 100%;
    height: auto;
}
.image2 {
    width: 100%;
    height: auto;
}
.image4 {
    width: 100%;
    height: auto;
}
.image5 {
    width: 100%;
    height: auto;
    
}


.images {
    display: grid;
    grid-template-columns: 35% 41.3% 35% 35% 35%;
    grid-template-rows: 35% 35% 35% 35% 35%;
    flex-wrap: wrap;
    justify-content: center;
}

.contact h2 {
    display: flex;
    justify-content: left;
}

/************************************************************
**************
*
*                 Header Area
*
*************************************************************
***************/ 

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: var(--nav-background-color);
    text-decoration: none;
    width: 53%;
    border-bottom: 1px solid steelblue;
    
    
}


nav {
    display: flex;
    flex: 1 1 100%;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: xx-large;
    justify-content: space-evenly;
    text-align: right;
    
}

nav a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: steelblue;
    text-decoration: none;
    font-weight: bold;
    
    
}
nav a:hover {
    color: brown;
}


h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

figure {
    border: thin solid steelblue;
    display: flex;
    flex-flow: column;
    padding: 3px;
    max-width: 100%;
    margin: auto;
   
}   

figcaption {
    background-color: black;
    color: white;
    font: italic smaller var(--paragraph-font);
    padding: 2px;
    text-align: center;
    max-width: 100%;

}

/************************************************************
**************
*
*                 Footer Area
*
*************************************************************
***************/ 

footer {
    display: flex;
    align-items: center;
}

.footer-menu {
    color: steelblue;
}


/************************************************************
**************
*
*                 Rules For Contact Us Page
*
*************************************************************
***************/ 

.employees {
    display: flex;
    justify-content: center;
    width: 350px;
    height: auto;
}

.parent-container {
    display: flex;
    justify-content: center;
    padding: 25px
}

h3 {
    display: flex;
    justify-content: center;
}

figure {
    border: thin solid steelblue;
    display: flex;
    flex-flow: column;
    padding: 3px;
    max-width: 100%;
    margin: auto;
    justify-content: center;
   
}   

figcaption {
    background-color: black;
    color: white;
    font: italic smaller var(--paragraph-font);
    padding: 2px;
    text-align: center;
    max-width: 100%;
}


form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba( 0, 0, 0, .2);
    border-radius: 0.5rem;
    background-color: var(--nav-background-color);
    display: grid;
}


fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: darkblue;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: var(--paragraph-font);
}

label {
    text-align: left;
    padding-left: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
button {
    margin: 1rem;
    background-color: steelblue;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
}

button:hover {
    background-color: brown;
}

#textbox {
    display: flex;
    width: auto;
    height: 200px;
    text-align: left;
}

input[type="radio"] {
    margin: -10px;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.contact h1 {
    display: flex;
    justify-content: center;
}

.map {
    display: flex;
    float: right;
    position: absolute;
    right: 200px;
    top: 290px;
    left: 1150px;
    width: 200px;
    height: 50px;
}   

/************************************************************
**************
*
*                 Rules For Trips Page
*
*************************************************************
***************/ 

.Trips {
    display: block;
    align-content: center;
   
    
}

.Trips h1 {
    position: absolute;
    align-self: center;
    background-color: rgb(0,0,0, 50%);
    top: 505px;
    left: 660px;
    color: #ffdf64;
    font-size: 72px;
}

.Trips img {
    width: 100%;
    height: auto;
}

.Trips h2 {
    right: 200px;
    top: 750px;
    color: black;
}

.Trips nav {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #ffdf64;
    font-size: xx-large;
    text-align: left;
    background-color: steelblue;
    border-radius: 10px;
    top: 920px;
    left: 430px;
    border: 1px;
    

}

.Trips nav a {
    color: #FED766;
    
}

.rafting {
    display: grid;
    grid-template-columns: 400px 376px 445px;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    width: auto;
    justify-items: end;
}

.rafting1 {
    width: 350px;
}

.rafting2 {
    width: 330px;
}

.rafting3 {
    width: 392px;
}



hr {
    width: 120%;
}

.rafting p {
    margin: 0;
    align-items: center;
    color: black;
    font-weight: bold;
}

.raft1  {
    color: #ffdf64;
}

/************************************************************
**************
*
*                 Rules For Home Page
*
*************************************************************
***************/ 

.home {
    display: block;
    align-content: start;
}

.home h1 {
    position: absolute;
    color: white ;
    font-weight: bold;
    font-size: 40px;
    background-color: rgb(0,0,0, 80%);
    top: 500px;
    left: 490px;
}

.home img {
    width: 100%;
}

.newsletter h2 {
    color: Black;
}

.cta a {
    display: inline-block;
    padding: 1px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-align: center;
    position: absolute;
    top: 1488px;
    left: 970px;
}

.cta p {
    font-size: 18px;
}

.water {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    
}

.water img {
    width: 40%;
}

.water p {
    position: absolute;
    top: 1600px;
    left: 850px;
    margin-right: 25%;
    font-size: 30px;
}
